<table>
<tbody>
<tr>
<td><img src="img/win_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.4.0/instead-3.4.0.exe">{{ i18n "instead-win" }}</a><br/>
<a href="https://github.com/instead-hub/instead/releases/download/3.4.0/instead-3.4.0.zip">{{ i18n "instead-win-zip" }}</a>
</td>
</tr>

<tr>
<td ><img src="img/ubuntu_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://launchpad.net/~gl00my/+archive/ubuntu/instead" target="blank">{{ i18n "instead-ubuntu" }}</a>
</td>
</tr>

<tr>
<td ><img src="img/opensuse_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://software.opensuse.org/download.html?project=home%3APHPoenX%3Ainstead&package=instead" target="blank">{{ i18n "instead-opensuse" }}</a>
</td>
</tr>

<tr>
<td><img src="img/mac_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.4.0/Instead-3.4.0.dmg">{{ i18n "instead-osx" }}</a>
</td>
</tr>

<tr>
<td><img src="img/android_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://f-droid.org/en/packages/org.emunix.insteadlauncher/">{{ i18n "instead-android" }}</a>
</td>
</tr>

<tr>
<td><img src="img/sources_logo.png"/></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/download/3.4.1/instead_3.4.1.tar.gz">{{ i18n "instead-sources" }}</a>
</td>
</tr>

<tr>
<td></td>
<td style="vertical-align:middle;"><a href="https://github.com/instead-hub/instead/releases/tag/3.4.0" target="blank">{{ i18n "instead-others" }}</a>
</td>
</tr>

</tbody>
</table>
